@import 'mixins';

.splash-screen
{
  @include center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__logo
  {
    @include center;
    background-color: white;
    width: 80%;
    height: 60%;
    border-radius: 1rem;
    overflow: hidden;
    img{
      width: 140%;
      margin-right: 4.5rem;
      aspect-ratio: auto;
    }    
  }
}


