.grid-column-1 {
    grid-column: 1;
}

.grid-column-2 {
    grid-column: 2;
}

.grid-column-3 {
    grid-column: 3;
}

.grid-column-4 {
    grid-column: 4;
}


.grid-column-span {
    grid-column: 1/3;
}

.grid-row-1 {
    grid-row: 1;
}

.grid-row-2 {
    grid-row: 2;
}

.grid-row-3 {
    grid-row: 3;
}

.grid-row-2-3 {
    grid-row: 2/4;
}

.grid-row-3-4 {
    grid-row: 3/5;
}

.grid-row-4 {
    grid-row: 4;
}

.grid-row-5 {
    grid-row: 5;
}

.grid-row-4-5 {
    grid-row: 4/6;
}

.grid-row-6 {
    grid-row: 6;
}

.grid-row-7 {
    grid-row: 7;
}

.grid-row-1-column-1 {
  grid-row: 1;
  grid-column: 1;
}
