$background1: rgba(0, 0, 0, .5);
$white: #fff;
$black: #000;
$dark1: #47515a;
$dark2: #2a3a46;
$font-white: #e2e4e5;
$blue: #0581ee;
$red: #ea0608;
$zonesBorderColor: rgba(255, 255, 255, 0.5);


// Teams Colours

$dark-grey:rgb(41, 41, 41);
$teams-smoke-grey: rgba(0,0,0,0.35);

$teams-midnight-blue: rgb(55,60,102);
$teams-sky-blue: rgb(126,141,249);
$teams-cobalt-blue: rgb(77,89,182);



$button-blue: #6264A7;





$button-outline: rgb(170,176,178);


$teams-btn-light-blue: rgb(126,141,249);
$teams-btn-blue:  rgb(77,89,182);
$teams-btn-blue-pressed: rgb(55,60,102);

$teams-icon-selected: rgb(81, 92, 173);
$teams-icon-selected-filter: invert(36%) sepia(41%) saturate(922%) hue-rotate(195deg) brightness(89%) contrast(81%);
