@import "buttons";
@import "variables";

input[type=range][orient=vertical] {
  writing-mode: vertical-lr;
  direction: rtl;
  width: 2rem;
  height: 18rem;
  vertical-align: bottom;
 
}

.ptz-camera {
  @include full-size;
  @include center;

  &__control-pane {
    background-color: rgba(0,0,0,0.1);
    width: 64rem;
    position:relative;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.8rem;
    padding: 2rem;
    margin-bottom:  3rem;
    font-size: 1.3rem;
  }

  &__controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
  }

}



.lighting-faders{
  display: flex;
  flex-direction: row ;
  height: 19rem;
  gap: 4rem;
 div{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6rem;
 }
  grid-template-rows: repeat(3, 1fr);

  &__title {
    font-size: 1.4rem;
    text-align: center;
    margin: auto;
  }
}

.ptz-preset-container {
  //height: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.camera-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  justify-content: flex-start;
  height: 100%;
  .camera-selection-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.ptz-camera-icon{
  width: 8rem;
  position: absolute;
  bottom:3.6rem;
  right: 4.2rem;
 opacity: 0.9;
}
