<div class="support" (pointerdown)="exit()">
  <div class="support__pane" (pointerdown)="$event.stopPropagation()">
    <h2 class="support__title">
      <img
        class="support__title--icon"
        src="assets/images/icons/support/support.svg"
      />
      <span class="support__title--text">Support Contact Information</span>
    </h2>
    <p class="support__company">Q-SYS Technical Support & Customer Care</p>
    <p class="support__description">
      If you require assistance with your system, please contact our dedicated
      support team using the following details:
    </p>
    <div class="support__contact">
      <div class="support__contact-info">
        <img
          class="support__contact-info--icon"
          src="assets/images/icons/support/location.svg"
        />
        <span class="support__contact-info--detail"
          >Teams HTML5 Demo System</span
        >
      </div>
      <div class="support__contact-info">
        <img
          class="support__contact-info--icon"
          src="assets/images/icons/support/telephone-solid.svg"
        />
        <span class="support__contact-info--detail">+44 1932 639 600</span>
      </div>

      <div class="support__contact-info">
        <img
          class="support__contact-info--icon"
          src="assets/images/icons/support/email-solid.svg"
        />
        <span class="support__contact-info--detail"
          >support.emea&#64;qsc.com</span
        >
      </div>

      <div class="support__contact-info">
        <img
          class="support__contact-info--icon"
          src="assets/images/icons/support/web-outline.svg"
        />

        <span class="support__contact-info--detail"
          >https://support.qsys.com/contact-us/</span
        >
      </div>
    </div>
    <p class="support__availability">
      Our team is available to assist you from Monday to Friday, between 9:00 AM
      and 5:00 PM.
    </p>
    <p class="support__service-level">
      We strive to respond to all queries within one business day.
    </p>
  </div>
</div>
