@import "variables";
@import "mixins";

$support-pane-width: 50%;
$support-pane-padding: 2rem;
$support-title-margin: 0 0 1rem;
$default-spacing: 0.5rem;

.support {
  @include center;
  @include full-size;

  background-color: rgba(41, 41, 41, 0.3);

  &__pane {
    background: linear-gradient(
      130deg,
      rgb(48, 48, 48) 0%,
      rgb(36, 36, 36) 100%
    );
    border-radius: $default-spacing;
    margin-bottom: 9rem;
    padding: $support-pane-padding;
    width: $support-pane-width;
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.3));
  }

  &__title {
    @include display-flex-row;
    gap: $default-spacing;
    margin: $support-title-margin;
    margin-top: 0;
    &--icon {
      height: 2.25rem;
    }
  }

  &__contact {
    @include display-flex-column;
    gap: $default-spacing;
  }

  &__contact-info {
    @include display-flex-row;
    gap: $default-spacing;

    &--icon {
      height: 1.5rem;
    }
  }

  &__service-level {
    margin-bottom: 0;
  }
}
