@import "buttons";
@import "variables";
@import "mixins";

.ptz-camera {
  @include full-size;
  @include center;

  &__control-pane {
    @include display-flex-row;
    background-color: rgba(0, 0, 0, 0.1);
    width: 64rem;
    position: relative;
    border-radius: 1rem;
    justify-content: space-between;

    padding: 2rem;
    margin-bottom: 3rem;
    font-size: 1.3rem;
  }

  &__control-column {
    @include display-flex-column;

    gap: 1rem;

    &__title {
      text-align: center;
    }

    &__preview {
      width: 32rem;
      height: 18rem;
      max-height: 18rem;
      border-radius: 1.5rem;
      display: grid;
      grid-template: 1fr / 1fr;
      position: relative;
      overflow: hidden;
      filter: drop-shadow(0 4px 8px rgba(25, 25, 25, 0.5));

      &--background {
        width: 32rem;
        height: 18rem;
        background-color: rgb(0, 118, 190);

        mask: url("./../../../../assets/images/camera/mask.svg");
        mask-size: cover;
        mask-repeat: no-repeat;
        mask-position: center;

        &--img {
          @include full-size;

          margin: 0;
          padding: 0;
        }
      }

      .ptz-button {
        @include clear-button-styling;
        position: absolute;

        transition: background-color 0.1s;
        color: white;

        img {
          width: 60%;
          height: 60%;
          pointer-events: none;
        }

        &.active {
          background-color: rgba(0, 0, 0, 0.5);
        }

        &--pan-tilt {
          &--up,
          &--down {
            width: 4rem;
            height: 2rem;
            left: calc(50% - 2rem);
          }

          &--up {
            top: 0;
            border-bottom-left-radius: 500px;
            border-bottom-right-radius: 500px;
            padding-bottom: 0.6rem;
          }

          &--down {
            bottom: 0;
            border-top-left-radius: 500px;
            border-top-right-radius: 500px;
            padding-top: 0.6rem;
          }

          &--left,
          &--right {
            width: 2rem;
            height: 4rem;
            top: calc(50% - 2rem);
          }

          &--left {
            left: 0;
            border-top-right-radius: 500px;
            border-bottom-right-radius: 500px;
            padding-right: 0.6rem;
          }

          &--right {
            right: 0;
            border-top-left-radius: 500px;
            border-bottom-left-radius: 500px;
            padding-left: 0.6rem;
          }
        }

        &--zoom {
          border-radius: 100%;
          width: 3rem;
          height: 3rem;

          img {
            width: 50%;
            height: 50%;
          }

          &--in {
            top: 0.5rem;
            right: 0.5rem;
          }

          &--out {
            bottom: 0.5rem;
            right: 0.5rem;
          }
        }
      }
    }

    &__buttons {
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
    }
  }

  &__control-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .zoom-grid {
      display: grid;
      height: 19rem;
      gap: 0.5rem;
    
      grid-template-rows: repeat(3, 1fr);
    
      &__title {
        font-size: 1.4rem;
        text-align: center;
        margin: auto;
      }
    }
    
  }

  &__icon {
    width: 8rem;
    position: absolute;
    bottom: 3.6rem;
    right: 4.2rem;
    opacity: 0.9;
  }
}

@media (orientation: portrait) {
  .ptz-camera {
    &__control-pane {
      height: 57rem;
      width: 85%;

      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 2.8rem;
      padding: 2rem;
      margin-bottom: 0;
    }

    &__control-column {
      &__buttons {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
      }
    }
  }
}
