@import "variables";
@import "buttons/menu-button";

$light-grey: rgb(52, 52, 52);

.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6.25rem;
  width: 100%;
  background: linear-gradient(0deg, $dark-grey 0%, $light-grey 100%);
  box-shadow: 0px -4px 13px -3px rgba(0, 0, 0, 0.3);
  z-index: 45;
}
