@import "buttons";
@import "variables";


input[type="range"][orient="vertical"] {
  margin:0;
  writing-mode: vertical-lr;
  direction: rtl;
  width: 2rem;
  height: 6.5rem;
  vertical-align: bottom;
}


.graphic-eq {
  @include full-size;
  @include center;

  &__control-pane {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    width: 64rem;
    height: 35rem;

    position: relative;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    margin-bottom: 4rem;
    font-size: 1.3rem;

    &__canvas {
      width: 100%;
      height: 19rem;
      display: block;

    }

    &__controls {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }
  }
}

.graphic-eq-bands {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  margin: 0;
  padding: 0;
}

.graphic-eq-band {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3rem;
  gap: 0.2rem;

  list-style-type: none;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  &__title {
    font-size: 0.75rem;
    height: 1.2rem;
  //  margin-bottom: 0.6rem;
  }

  &__enable {
    width: 90%;
    height: 1.2rem;

    &.selected {
      background-color: rgb(200, 0, 0);
    }
  }

  &__legend {
    background-color: white;
    width: 3rem;
    overflow: hidden;
    color: black;
    border: solid 1px black;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}
