@import "buttons";
@import "variables";

.parametric-eq {
  @include full-size;
  @include center;

  &__control-pane {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    width: 64rem; 
    height: 35rem;
    position: relative;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 4rem;
    font-size: 1.3rem;

    &__canvas {
      width: 100%;
      height: 19rem;
      display: block;
    }

    &__controls {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 44rem;
      justify-content: center;

      &__band {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        list-style-type: none;
        scroll-snap-align: start;
        scroll-snap-stop: always;
      
        gap: 0.2rem;
        &.left-legend
        {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          margin-right: 0.4rem;
        }
        &__title {
          font-size: 0.75rem;
          margin-bottom: 0.3rem;
        }
        &--enable {
          width: 80%;
          height: 1.4rem;
          border-radius: 0.25rem;
          &.selected {
            background-color: rgb(200, 0, 0);
          }
        }
        select {
          width: 4rem;
        }
      }
    }
  }
}

.parametric-eq-bands {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  margin: 0;
  padding: 0;
}
